
{% extends 'social/base.html' %}

{% block title %} Profile {% endblock %}


{% block content %} <br>
<!-- <h1>my_friends.html</h1> -->
<form method="post" action="{% url 'my_friend_search' %}">
    {% csrf_token %}
    <i class="fa fa-at"><label for="Search">Search</label></i>
    <input type="text" id="my_friend_search" name="my_friend_search">
    <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass">Search</i></button>
</form>

<hr>

<br>
<div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">
                {% for form in friend %}
                <div class="nearby-user">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg"> -->
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <h2><p><i class="fa-solid fa-user-shield">{{ form.first_name}} {{ form.last_name}}</i></p></h2>
                            <h7><a href="{% url 'friend_profile' form.id %}" class="profile-link"><i class="fa fa-at">{{ form.username}}</i></a></h7>
                            <p><i class="fa-solid fa-briefcase">{{form.work}}Software Engineer</i></p>
                            <p class="text-muted">Make Friend...</p>
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <a href="{% url 'remove_friend' form.id %}" onclick="alert('sure want to delete this data')"><button class="btn btn-primary pull-right"><i class="fa-solid fa-user-minus">Remove Friend</i></button></a>
                        </div>
                    </div>
                </div>
<!-- send message button -->
<p>{{ form.username }}'s Profile</p>

<a href="#"><i class="fa-regular fa-comments">Send Message </i></a>
<a href="{% url 'inbox' %}"><i class="fa-solid fa-comments"> View Inbox</i></a>




                <hr><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}